body {
    background: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


/* header */

header {
    background: black;
    padding: 20px;
    background-image: url("image/street.jpg");
    background-position: center;
    background-size: 100%;
    text-align: center;
    height: 200px;
}

header .mobile {
    display: none;
}

header .logo a {
    background-image: url("image/logo.png");
    background-size: 160px;
    background-repeat: no-repeat;
    position: relative;
    top: -10px;
    display: inline-block;
    height: 80px;
    width: 160px;
    text-indent: -99999999px;
}

header .logo {
    background-color: transparent;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    background-color: grey;
    border-radius: 3px;
    padding: 2px;
    margin-left: 20px;
}

nav li:first-child{
    margin-left: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    background-color: orange;
}

/* RESPONSIVE RULES */
@media screen and (max-width: 533px) {
    header .mobile {
        display: inline-block;
    }

    header .desktop {
        display: none;
    }
}


/*feature*/

.feature-box {
    background:white;
    color: grey;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.feature-box div {
    margin: auto;
    width: 100px;
}

.feature-box.sales figure {
    margin: auto;
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    background: white;
}

.feature-box.sales figure img {
    width: 300px;
    border-radius: 50%;
    box-shadow: gray 0 0 10px;
    border: 1px solid white;
}

.feature-box.closeouts div {
    background: green;
}

/*RESPONSIVE RULES */


/*intro*/

.my-intro {
    display: flex;
    background-color:rgb(240, 247, 181);
    color: black;
    flex-wrap: wrap;
}

.my-intro img {
    float: left;
    flex-direction: column;
    margin: 50px 20px 50px 20px;
    border-radius: 20px;
    box-shadow: pink 0 0 10px;
    border: 1px solid plum;
}

.my-intro div {
    margin-top: 70px;
    font-size: large;
}





/*footer*/

footer {
    background: black;
    padding: 20px 20px;
    color: gray;
    text-align: center;
    font-size: 12px;
}